<footer class="footer">
  <small>
    Designed by <a href="https://www.facebook.com/profile.php?id=100009423002964">Taras Shpachenko</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
